<ion-content>
  
  <ion-list>
    <ion-item class="title" lines="none">
      <ion-title style="font-weight: bold; font-family: 'MontserratMedium';" routerLink="/home">Bookstore</ion-title>
      <router-outlet></router-outlet>
    </ion-item>

    <ion-item class="header-item1" lines="none">
      <ion-label style="font-family: 'MontserratMedium'; font-size: small; font-weight: bold;" routerLink="/home">BOOKS</ion-label>
      <router-outlet></router-outlet>
    </ion-item>

    <ion-item class="header-item2" lines="none">
      <ion-label style="font-family: 'MontserratRegular'; font-size: small;" routerLink="/maintenance">AUDIOBOOKS</ion-label>
      <router-outlet></router-outlet>
    </ion-item>

    <ion-item class="header-item3" lines="none">
      <ion-label style="font-family: 'MontserratRegular'; font-size: small;" routerLink="/maintenance">STATIONERY & GIFTS</ion-label>
      <router-outlet></router-outlet>
    </ion-item>

    <ion-item class="header-item4" lines="none">
      <ion-label style="font-family: 'MontserratRegular'; font-size: small;" routerLink="/maintenance">BLOG</ion-label>
      <router-outlet></router-outlet>
    </ion-item>

    <ion-item class="icon1" lines="none">
      <img src="./assets/icons/profile.PNG" routerLink="/maintenance">
      <router-outlet></router-outlet>
    </ion-item>
    
    <ion-item class="icon2" lines="none">
      <img src="./assets/icons/search.PNG" routerLink="/maintenance">
      <router-outlet></router-outlet>
    </ion-item>
    
    <ion-item class="icon3" lines="none">
      <img src="./assets/icons/lock.PNG" routerLink="/maintenance">
      <router-outlet></router-outlet> 
    </ion-item>

    <ion-item class="title2" lines="none">
      <ion-title style="font-weight: bold; font-family: 'MontserratMedium'; font-size: 30px;">Your cart</ion-title>
    </ion-item>

    <ion-item class="square" lines="none"></ion-item>

    <div class="book1">
      <img src="./assets/crazy_rich_asians.png">
    </div>

    <div class="book1-shadow"></div>

    <div class="book1-author">
      <ion-label style="font-family: 'OpenSans';">Kevin Kwan</ion-label>
    </div>

    <div class="book1-title">
      <ion-label style="font-family: 'MontserratMedium';">Crazy rich asians</ion-label>
    </div>

    <div class="book1-text">
      <ion-label style="font-family: 'OpenSans';">The outrageously funny debut novel about three super-rich, pedigreed Chinese families and the gossip...</ion-label>
    </div>

    <div class="book1-price1">
      <ion-label style="font-family: 'MontserratMedium'; font-size: 17px; font-weight: bold;">R$14.99</ion-label>
    </div>

    <div class="book1-price2">
      <ion-label style="font-family: 'MontserratMedium'; font-size: 14px; font-weight: bold;">1X R$14.99</ion-label>
    </div>

    <div class="square1"></div>

    <div class="square1-button">
      <ion-button color="primary" fill="clear" style="font-family: 'MontserratMedium'; font-size: 10px; width: 45px; height: 45px; font-weight: bold;">-</ion-button>
    </div>

    <div class="square2"></div>

    <div class="square2-button">
      <ion-button color="primary" fill="clear" style="font-family: 'MontserratMedium'; font-size: 10px; width: 45px; height: 45px; font-weight: bold;">+</ion-button>
    </div>


    <div class="book2">
      <img src="./assets/the_handmaids_tale.png">
    </div>

    <div class="book2-shadow"></div>

    <div class="book2-author">
      <ion-label style="font-family: 'OpenSans';">Margaret Atwood</ion-label>
    </div>

    <div class="book2-title">
      <ion-label style="font-family: 'MontserratMedium';">The handmaid's tale</ion-label>
    </div>

    <div class="book2-text">
      <ion-label style="font-family: 'OpenSans';">This novel can be interpreted as a double narrative, Offred's tale and the handmaids' tales. The night...</ion-label>
    </div>

    <div class="book2-price1">
      <ion-label style="font-family: 'MontserratMedium'; font-size: 17px; font-weight: bold;">R$69.98</ion-label>
    </div>

    <div class="book2-price2">
      <ion-label style="font-family: 'MontserratRegular'; font-size: 14px; font-weight: bold;">2X R$34.99</ion-label>
    </div>

    <div class="square3"></div>

    <div class="square3-button">
      <ion-button color="primary" fill="clear" style="font-family: 'MontserratMedium'; font-size: 10px; width: 45px; height: 45px; font-weight: bold;">-</ion-button>
    </div>

    <div class="square4"></div>

    <div class="square4-button">
      <ion-button color="primary" fill="clear" style="font-family: 'MontserratMedium'; font-size: 10px; width: 45px; height: 45px; font-weight: bold;">+</ion-button>
    </div>

    <div class="checkout"></div>

    <div class="checkout-button">
      <ion-button color="primary" fill="clear" style="font-family: 'MontserratMedium'; font-size: 10px; width: 170px; height: 35px; font-weight: bold;">CHECKOUT</ion-button>
    </div>


  </ion-list>


  <ion-item class="footer" lines="none">
    <ion-item-divider lines="none"></ion-item-divider>
  </ion-item>


  


</ion-content>


