.title{
    color: #1c2a39;
    left: 143px;
    top: 25px;
}
.header-item1{
    color: #1c2a39;
    left: 480px;
    bottom: 25px;
}
.header-item2{
    color: #1c2a39;
    left: 559px;
    bottom: 74px;
}
.header-item3{
    color: #1c2a39;
    left: 673px;
    bottom: 122.3px;
}
.header-item4{
    color: #1c2a39;
    left: 830px;
    bottom: 171px;
}
.icon1 {
    left: 1056px;
    width: 50px;
    bottom: 215px;
}
.icon2 {
    left: 1094px;
    width: 55px;
    bottom: 265px;
}
.icon3 {
    left: 1135px;
    width: 55px;
    bottom: 312px;
}
.title2{
    color: #1c2a39;
    left: 143px;
    bottom: 220px;
}
.square {
    top: -200px;
    height: 900px;
    width: 480px;
    background-color: #EFEEF6;
}
.square-title {
    position: absolute;
    width: 89px;
    height: 20px;
    left: 180px;
    top: 350px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #1C2A39;
}
.ellipse {
    border-radius: 50%;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 160px;
    top: 357px;
    background-color: #756AD3;
}
.square-text1{
    position: absolute;
    width: 82px;
    height: 15px;
    left: 160px;
    top: 400px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text2{
    position: absolute;
    width: 64px;
    height: 15px;
    left: 160px;
    top: 440px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text3{
    position: absolute;
    width: 55px;
    height: 15px;
    left: 160px;
    top: 480px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text4{
    position: absolute;
    width: 61px;
    height: 15px;
    left: 160px;
    top: 520px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text5{
    position: absolute;
    width: 63px;
    height: 15px;
    left: 160px;
    top: 560px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text6{
    position: absolute;
    width: 97px;
    height: 15px;
    left: 160px;
    top: 600px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text7{
    position: absolute;
    width: 63px;
    height: 15px;
    left: 160px;
    top: 640px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text8{
    position: absolute;
    width: 105px;
    height: 15px;
    left: 160px;
    top: 680px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text9{
    position: absolute;
    width: 80px;
    height: 15px;
    left: 160px;
    top: 720px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text10{
    position: absolute;
    width: 105px;
    height: 15px;
    left: 160px;
    top: 760px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text11{
    white-space: nowrap;
    position: absolute;
    width: 118px;
    height: 15px;
    left: 160px;
    top: 800px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text12{
    position: absolute;
    width: 102px;
    height: 15px;
    left: 160px;
    top: 840px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text13{
    position: absolute;
    width: 98px;
    height: 15px;
    left: 160px;
    top: 880px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text14{
    position: absolute;
    width: 139px;
    height: 15px;
    left: 160px;
    top: 920px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text15{
    position: absolute;
    width: 99px;
    height: 15px;
    left: 160px;
    top: 960px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.square-text16{
    position: absolute;
    width: 84px;
    height: 15px;
    left: 160px;
    top: 1000px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}
.book1 {
    z-index: 1;
    position: absolute;
    width: 212px;
    height: 327px;
    left: 356px;
    top: 347px;
}
.book1-shadow {
    z-index: 0;
    position: absolute;
    width: 174px;
    height: 282px;
    left: 375px;
    top: 347px;
    background: #EEECEC;
    box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}
.book1-author {
    position: absolute;
    width: 54px;
    height: 14px;
    left: 604px;
    top: 417px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}
.book1-title {
    position: absolute;
    width: 176px;
    height: 20px;
    left: 604px;
    top: 435px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #1C2A39;
}
.book1-star1 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 604px;
    top: 460px;
}
.book1-star2 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 617px;
    top: 460px;
}
.book1-star3 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 630px;
    top: 460px;
}
.book1-star4 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 643px;
    top: 460px;
}
.book1-star5 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 656px;
    top: 460px;
}
.book1-review {
    white-space: nowrap;
    position: absolute;
    width: 51px;
    height: 14px;
    left: 674px;
    top: 462px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #5C6A79;
}
.book1-text {
    position: absolute;
    width: 176px;
    height: 38px;
    left: 604px;
    top: 489px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}
.book1-price1 {
    position: absolute;
    width: 51px;
    height: 16px;
    left: 604px;
    top: 543px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1C2A39;
}
.book1-price2 {
    position: absolute;
    width: 50px;
    height: 16px;
    left: 661px;
    top: 543px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #BDBDBD;
}
.book1-button {
    position: absolute;
    width: 176px;
    height: 45px;
    left: 604px;
    top: 575px;
    border: 1px solid #4C3DB2;
    box-sizing: border-box;

}
.book2 {
    z-index: 1;
    position: absolute;
    width: 213px;
    height: 340px;
    left: 855px;
    top: 349px;
}
.book2-shadow {
    z-index: 0;
    position: absolute;
    width: 174px;
    height: 282px;
    left: 875px;
    top: 367px;
    background: #EEECEC;
    box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}
.book2-author {
    position: absolute;
    width: 82px;
    height: 14px;
    left: 1104px;
    top: 417px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}
.book2-title {
    position: absolute;
    width: 176px;
    height: 20px;
    left: 1104px;
    top: 435px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #1C2A39;
}
.book2-star1 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1104px;
    top: 460px;
}
.book2-star2 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1117px;
    top: 460px;
}
.book2-star3 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1130px;
    top: 460px;
}
.book2-star4 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1143px;
    top: 460px;
}
.book2-star5 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1156px;
    top: 460px;
}
.book2-review {
    white-space: nowrap;
    position: absolute;
    width: 57px;
    height: 14px;
    left: 1174px;
    top: 462px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #5C6A79;
}
.book2-text {
    position: absolute;
    width: 176px;
    height: 38px;
    left: 1104px;
    top: 489px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}
.book2-price1 {
    position: absolute;
    width: 46px;
    height: 16px;
    left: 1104px;
    top: 543px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1C2A39;
}
.book2-price2 {
    position: absolute;
    width: 51px;
    height: 16px;
    left: 1158px;
    top: 543px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #BDBDBD;
}
.book2-button {
    position: absolute;
    width: 176px;
    height: 45px;
    left: 1104px;
    top: 575px;
    border: 1px solid #4C3DB2;
    box-sizing: border-box;
}
.book3 {
    z-index: 1;
    position: absolute;
    width: 212px;
    height: 307px;
    left: 356px;
    top: 759px;
}
.book3-shadow {
    z-index: 0;
    position: absolute;
    width: 174px;
    height: 282px;
    left: 375px;
    top: 773px;
    background: #EEECEC;
    box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}
.book3-author {
    position: absolute;
    width: 67px;
    height: 14px;
    left: 604px;
    top: 812px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}
.book3-title {
    position: absolute;
    width: 176px;
    height: 20px;
    left: 604px;
    top: 830px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #1C2A39;
}
.book3-star1 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 604px;
    top: 855px;
}
.book3-star2 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 617px;
    top: 855px;
}
.book3-star3 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 630px;
    top: 855px;
}
.book3-star4 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 643px;
    top: 855px;
}
.book3-star5 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 656px;
    top: 855px;
}
.book3-review {
    white-space: nowrap;
    position: absolute;
    width: 57px;
    height: 14px;
    left: 677px;
    top: 857px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #5C6A79;
}
.book3-text {
    position: absolute;
    width: 176px;
    height: 39px;
    left: 604px;
    top: 884px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}
.book3-price1 {
    position: absolute;
    width: 50px;
    height: 16px;
    left: 604px;
    top: 939px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1C2A39;
}
.book3-price2 {
    position: absolute;
    width: 54px;
    height: 16px;
    left: 663px;
    top: 939px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #BDBDBD;
}
.book3-button {
    position: absolute;
    width: 176px;
    height: 45px;
    left: 604px;
    top: 971px;
    border: 1px solid #4C3DB2;
    box-sizing: border-box;
}
.book4 {
    z-index: 1;
    position: absolute;
    width: 212px;
    height: 320px;
    left: 856px;
    top: 751px;
}
.book4-shadow {
    z-index: 0;
    position: absolute;
    width: 174px;
    height: 282px;
    left: 875px;
    top: 763px;
    background: #EEECEC;
     box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}
.book4-author {
    position: absolute;
    width: 68px;
    height: 14px;
    left: 1104px;
    top: 813px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}
.book4-title {
    position: absolute;
    width: 176px;
    height: 20px;
    left: 1104px;
    top: 831px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #1C2A39;
}
.book4-star1 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1104px;
    top: 856px;
}
.book4-star2 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1117px;
    top: 856px;
}
.book4-star3 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1130px;
    top: 856px;
}
.book4-star4 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1143px;
    top: 856px;
}
.book4-star5 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1156px;
    top: 856px;
}
.book4-review {
    white-space: nowrap;
    position: absolute;
    width: 51px;
    height: 14px;
    left: 1174px;
    top: 858px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #5C6A79;
}
.book4-text {
    position: absolute;
    width: 176px;
    height: 38px;
    left: 1104px;
    top: 885px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}
.book4-price1 {
    position: absolute;
    width: 52px;
    height: 16px;
    left: 1104px;
    top: 939px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1C2A39;
}
.book4-price2 {
    position: absolute;
    width: 54px;
    height: 16px;
    left: 1163px;
    top: 939px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #BDBDBD;
}
.book4-button {
    position: absolute;
    width: 176px;
    height: 45px;
    left: 1104px;
    top: 971px;
    border: 1px solid #4C3DB2;
    box-sizing: border-box;
}
.footer {
    width: 1400px;
    height: 150px;
    top: 50px;
    background: #4C3DB2;
}
:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }