<ion-content>
  
  <ion-list>
    <ion-item class="title" lines="none">
      <ion-title style="font-weight: bold; font-family: 'MontserratMedium';">Bookstore</ion-title>
    </ion-item>

    <ion-item class="header-item1" lines="none">
      <ion-label style="font-family: 'MontserratMedium'; font-size: small; font-weight: bold;">BOOKS</ion-label>
    </ion-item>

    <ion-item class="header-item2" lines="none">
      <ion-label style="font-family: 'MontserratRegular'; font-size: small;">AUDIOBOOKS</ion-label>
    </ion-item>

    <ion-item class="header-item3" lines="none">
      <ion-label style="font-family: 'MontserratRegular'; font-size: small;">STATIONERY & GIFTS</ion-label>
    </ion-item>

    <ion-item class="header-item4" lines="none">
      <ion-label style="font-family: 'MontserratRegular'; font-size: small;">BLOG</ion-label>
    </ion-item>

    <ion-item class="icon1" lines="none">
      <img src="./assets/icons/profile.PNG">
    </ion-item>
    
    <ion-item class="icon2" lines="none">
      <img src="./assets/icons/search.PNG">
    </ion-item>
    
    <ion-item class="icon3" lines="none">
      <img src="./assets/icons/lock.PNG">  
    </ion-item>
  
    <div class="banner" lines="none">
      <img src="./assets/home.png">
    </div>

    <ion-item class="square" lines="none"></ion-item>

    <div class="ellipse" lines="none"></div>
  
    <div class="square-title">
      <ion-label style="font-family: 'MontserratMedium';" >Categories</ion-label>
    </div>

    <div class="square-text1">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Art & Fashion</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text2">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Biography</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text3">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Business</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text4">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Children's</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text5">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Education</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text6">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Fiction & Poetry</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text7">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Education</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text8">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Film, TV & Drama</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text9">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Food & Drink</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text10">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Film, TV & Drama</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text11">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Healthy & Wellbeing</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text12">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">History & Politics</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text13">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Home & Garden</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text14">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Languages With Grant</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text15">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Sport & Hobbies</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="square-text16">
      <ion-label style="font-family: 'MontserratMedium';" routerLink="/login">Travel & Maps</ion-label>
      <router-outlet></router-outlet>
    </div>

    <div class="book1">
      <img src="./assets/crazy_rich_asians.png">
    </div>

    <div class="book1-shadow"></div>

    <div class="book1-author">
      <ion-label style="font-family: 'OpenSans';">Kevin Kwan</ion-label>
    </div>

    <div class="book1-title">
      <ion-label style="font-family: 'MontserratMedium';">Crazy rich asians</ion-label>
    </div>

    <div class="book1-star1">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book1-star2">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book1-star3">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book1-star4">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book1-star5">
      <img src="./assets/icons/star.png">
    </div>

    <div class="book1-review">
      <ion-label style="font-family: 'OpenSans';">252 reviews</ion-label>
    </div>

    <div class="book1-text">
      <ion-label style="font-family: 'OpenSans';">The outrageously funny debut novel about three super-rich, pedigreed Chinese families and the gossip...</ion-label>
    </div>

    <div class="book1-price1">
      <ion-label style="font-family: 'MontserratMedium';">R$14.99</ion-label>
    </div>

    <div class="book1-price2">
      <ion-label style="font-family: 'MontserratRegular';">R$24.12</ion-label>
    </div>

    <div class="book1-button">
      <ion-button color="primary" fill="clear" style="font-family: 'MontserratMedium'; font-size: 10px; width: 170px; height: 35px; font-weight: bold;">BUY NOW</ion-button>
    </div>

    <div class="book2">
      <img src="./assets/the_handmaids_tale.png">
    </div>

    <div class="book2-shadow"></div>

    <div class="book2-author">
      <ion-label style="font-family: 'OpenSans';">Margaret Atwood</ion-label>
    </div>

    <div class="book2-title">
      <ion-label style="font-family: 'MontserratMedium';">The handmaid's tale</ion-label>
    </div>

    <div class="book2-star1">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book2-star2">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book2-star3">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book2-star4">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book2-star5">
      <img src="./assets/icons/star.png">
    </div>

    <div class="book2-review">
      <ion-label style="font-family: 'OpenSans';">1,1M reviews</ion-label>
    </div>

    <div class="book2-text">
      <ion-label style="font-family: 'OpenSans';">This novel can be interpreted as a double narrative, Offred's tale and the handmaids' tales. The night...</ion-label>
    </div>

    <div class="book2-price1">
      <ion-label style="font-family: 'MontserratMedium';">R$6.99</ion-label>
    </div>

    <div class="book2-price2">
      <ion-label style="font-family: 'MontserratRegular';">R$18.99</ion-label>
    </div>

    <div class="book2-button">
      <ion-button color="primary" fill="clear" style="font-family: 'MontserratMedium'; font-size: 10px; width: 170px; height: 35px; font-weight: bold;">BUY NOW</ion-button>
    </div>

    <div class="book3">
      <img src="./assets/brave_new_world.png">
    </div>

    <div class="book3-shadow"></div>

    <div class="book3-author">
      <ion-label style="font-family: 'OpenSans';">Aldous Huxley</ion-label>
    </div>

    <div class="book3-title">
      <ion-label style="font-family: 'MontserratMedium';">Brave new world</ion-label>
    </div>

    <div class="book3-star1">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book3-star2">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book3-star3">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book3-star4">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book3-star5">
      <img src="./assets/icons/star.png">
    </div>

    <div class="book3-review">
      <ion-label style="font-family: 'OpenSans';">1,3M reviews</ion-label>
    </div>

    <div class="book3-text">
      <ion-label style="font-family: 'OpenSans';">Dystopian novel written in 1931 by English author Aldous Huxley, and published in 1932. Largely set in...</ion-label>
    </div>

    <div class="book3-price1">
      <ion-label style="font-family: 'MontserratMedium';">R$12.43</ion-label>
    </div>

    <div class="book3-price2">
      <ion-label style="font-family: 'MontserratRegular';">R$42.50</ion-label>
    </div>

    <div class="book3-button">
      <ion-button color="primary" fill="clear" style="font-family: 'MontserratMedium'; font-size: 10px; width: 170px; height: 35px; font-weight: bold;">BUY NOW</ion-button>
    </div>

    <div class="book4">
      <img src="./assets/educated.png">
    </div>

    <div class="book4-shadow"></div>

    <div class="book4-author">
      <ion-label style="font-family: 'OpenSans';">Tara Westover</ion-label>
    </div>

    <div class="book4-title">
      <ion-label style="font-family: 'MontserratMedium';">Educated</ion-label>
    </div>

    <div class="book4-star1">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book4-star2">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book4-star3">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book4-star4">
      <img src="./assets/icons/star-checked.png">
    </div>

    <div class="book4-star5">
      <img src="./assets/icons/star.png">
    </div>

    <div class="book4-review">
      <ion-label style="font-family: 'OpenSans';">364 reviews</ion-label>
    </div>

    <div class="book4-text">
      <ion-label style="font-family: 'OpenSans';">It is a tale of fierce family loyalty and of the grief that comes with severing the closest of ties. With...</ion-label>
    </div>

    <div class="book4-price1">
      <ion-label style="font-family: 'MontserratMedium';">R$12.68</ion-label>
    </div>

    <div class="book4-price2">
      <ion-label style="font-family: 'MontserratRegular';">R$34.20</ion-label>
    </div>

    <div class="book4-button">
      <ion-button color="primary" fill="clear" style="font-family: 'MontserratMedium'; font-size: 10px; width: 170px; height: 35px; font-weight: bold;">BUY NOW</ion-button>
    </div>
  </ion-list>


  <ion-item class="footer" lines="none">
    <ion-item-divider lines="none"></ion-item-divider>
  </ion-item>


  


</ion-content>


